---
layout: default
title:  Home
date:   2021-03-08 19:33
---

<section class="page">
  <div class="container">

    <div class="row" style="margin-bottom: 40px">
      <div class="col-sm-6 col-xs-12">

        <form>
          <div class="form-group">
            <div class="input-group mb-3">
              <input id="categories" type="text" class="form-control" placeholder="Categories (separate with comma; add a comma at the end if using this)">
            </div>
          </div>

          <div class="form-group">
            <textarea id="input" class="form-control" rows="30" placeholder="FirstName, LastName, Phone nr"></textarea>
          </div>

          <button id="generate" type="button" class="btn btn-primary btn-block">Convert to vCard data</button>
        </form>

      </div>
      <div class="col-sm-6 col-xs-12">

        <pre id="data"></pre>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-xs-12 text-center">

        <p>
          Powered by <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> &amp; <a href="{{ site.url_source }}" target="_blank">hosted</a> on <a href="https://gitlab.com" target="_blank">GitLab</a><br class="visible-xs">
        </p>

      </div>
    </div>

  </div>
</section>
